<div class="container">
  <div class="row">
    <div class="col">
{% if entry.pdf %}<a href="{{entry.pdf}}"><img alt="PDF" border="0"
  src="/assets/img/pdf.png"/></a> {% endif %}
{{reference}}
<br/>
<a class="label label-default" data-bs-toggle="modal" data-bs-target="#{{key}}-bibtex" href="#">bibtex</a>

{% include bib-links.html %}

<div class="modal" id="{{key}}-bibtex" tabindex="-1" role="dialog" aria-labelledby="{{key}} bibtex" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a class="label label-default" data-bs-dismiss="modal" href="#">close</a> &nbsp;
      </div>
      <div class="modal-body">
        <pre>{{entry.bibtex}}</pre>
      </div>
    </div>
  </div>
</div>
    </div>
  </div>
</div>

